*{
  font-size: 40px;
  margin: 0px;
  padding: 0px;
  color: white;
  box-sizing: border-box;
}

#calculator-body{
  margin: 30px auto;
  width: 400px;
  height: 620px;
  background-color: black;
  box-shadow: 5px 5px 15px black;
  border-radius: 15px;
}

#display-container{
  padding: 5px 10px;
  height: 25%;
  background-color: rgb(50, 50, 50);
  border-radius: 15px;
}

#result-display{
  text-align: right;
  height: 50%;
}

#formula-display{
  height: 50%;
}

#button-container{
  height: 75%;
  padding: 10px 0px;
  text-align: center;
}

button{
  width: 75px;
  height: 75px;
  line-height: 0px;
  border: none;
  border-radius: 50%;
  margin: 7px;
  font-weight: bold;
}

.number-button{
  background-color: rgba(128, 128, 128, 0.9);
}

.number-button:hover{
  background-color: gray;
}

.sign-button{
  background-color: rgba(0, 0, 255, 0.8);
}

.sign-button:hover{
  background-color: blue;
}